* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 2.5rem auto 0;
  background: url("../images/wsbg2.jpg") no-repeat left top/cover;
  z-index: 0;
}

abbr {
  text-decoration: none !important;
  border-bottom: 0px !important;
}

@media (min-width: 996px) {
  #carousel_wrapper {
    width: 100vw;
    margin-left: -25%;
  }
}

#page-wrapper {
  background: url("../images/texture.jpg");
  z-index: -1;
}
/* navbar---------------------------------------------------------- */
#sidebar {
  width: 100%;
  background: url("../images/header_bg.png") no-repeat center/cover;
  margin: 0;
  padding: 0;
}

#sidebar #followMe {
  margin-left: auto;
}

#sidebar #followMe a {
  color: #911d22;
  font-size: 2rem;
  margin: 0 0.25rem;
}

#sidebar #followMe a:hover {
  color: #000;
}

#sidebar .navbar-brand {
  width: 27.5%;
}

#sidebar .navbar-brand::after {
  content: "CSS Zen Garden";
  font-size: 2rem;
  font-weight: bo;
  position: fixed;
  top: 2rem;
  left: 7.5rem;
}

#sidebar .extra1 img {
  max-width: 100%;
  object-fit: cover;
}

#sidebar h3 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#sidebar .nav-link {
  display: inline-block;
  margin: 0.25% 0;
  padding: 0;
}

#sidebar .navbar-nav {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 7.5%;
}

/* carousel-------------------------------------------------------- */
#carousel {
  z-index: -3;
  position: relative;
  width: 100%;
}

#carousel h2 {
  position: absolute;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#carousel h1 {
  /* visibility: hidden; */
  display: none;
}

/* footer --------------------------------------------------------- */
#footer {
  background: url("../images/footer_bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110vw;
  position: absolute;
  left: -50%;
}

#footer a {
  margin: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
}

#footer a:hover {
  color: rgba(252, 189, 73, 0.75);
  text-decoration: none;
}
