* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 2rem auto 0;
  background: url("../images/texture.jpg");
  z-index: -1;
}

/* navbar---------------------------------------------------------- */
#sidebar {
  width: 100%;
  background: url("../images/header_bg.png") no-repeat center/cover;
  margin: 0;
  padding: 0;
}

#sidebar .extra1 {
  width: 10%;
}

#sidebar .extra1 img {
  max-width: 100%;
  object-fit: cover;
}

#sidebar h3 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#sidebar .nav-link {
  display: inline-block;
  margin: 0.25% 0;
  padding: 0;
}

#sidebar .navbar-nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 15%;
}

/* carousel-------------------------------------------------------- */
#carousel {
  z-index: -1;
  position: relative;
}

#carousel .carousel-text {
  position: absolute;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* footer --------------------------------------------------------- */
#footer {
  background: url("../images/footer_bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  margin: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
}

#footer a:hover {
  color: rgba(252, 189, 73, 0.75);
  text-decoration: none;
}
