* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Impact", "jmh_psychedelic_capsregular", "Noto Sans TC",
    "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 2.75rem auto 0;
  background: url("../images/wsbg2.jpg") no-repeat left top/cover;
  z-index: 0;
  font-size: small;
}

abbr {
  text-decoration: none !important;
  border-bottom: 0px !important;
}

@font-face {
  font-family: "jmh_psychedelic_capsregular";
  src: url("../webfonts/jmh_psychedelic_caps-webfont.woff2") format("woff2"),
    url("../webfonts/jmh_psychedelic_caps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 996px) {
  body {
    overflow-x: hidden;
  }

  #carousel_wrapper {
    width: 100vw;
    margin-left: -17.5%;
  }

  #footer {
    width: 100vw;
    position: absolute;
    left: -17.5%;
  }

  #zen-supporting .nav-pills {
    display: flex;
    flex-direction: column;
  }
}

#page-wrapper {
  background: url("../images/texture.jpg");
  z-index: -1;
}
/* navbar---------------------------------------------------------- */
#sidebar {
  width: 100%;
  background: url("../images/header_bg.png") no-repeat center/cover;
  margin: 0;
  padding: 0;
}

#sidebar #followMe {
  margin-left: auto;
}

#sidebar #followMe a {
  color: #911d22;
  font-size: 1.75rem;
  margin: 0 0.25rem;
}

#sidebar #followMe a:hover {
  color: #000;
}

#sidebar .navbar-brand {
  width: 22.5%;
}

#sidebar .navbar-brand::after {
  content: "CSS Zen Garden";
  font-family: "jmh_psychedelic_capsregular";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  position: fixed;
  top: 2rem;
  left: 7.5rem;
}

#sidebar .extra1 img {
  max-width: 100%;
  object-fit: cover;
}

#sidebar h3 {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
}

#sidebar .nav-link {
  display: inline-block;
  margin: 0.5% 0;
  padding: 0;
}

#sidebar .navbar-nav {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 7.5%;
}

/* carousel-------------------------------------------------------- */
#carousel {
  z-index: -3;
  position: relative;
  width: 100%;
}

#carousel h2 {
  position: absolute;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#carousel h1 {
  /* visibility: hidden; */
  display: none;
}

/* nav-pills------------------------------------------------------- */
#zen-supporting {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 2.5rem 0;
  padding: 0 3rem;
  font-size: large;
}

/* footer --------------------------------------------------------- */
#footer {
  background: url("../images/footer_bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  font-family: "Noto Sans TC";
  margin: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
}

#footer a:hover {
  color: rgba(252, 189, 73, 0.75);
  text-decoration: none;
}
